<%= render :partial => 'static_pages/notice_panel' %>

<h1>Listing Verified Lists</h1>

<table>
  <thead>
    <tr>
      <th>Verification list</th>
      <th>Employee</th>
      <th>Date of verification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verified_lists.each do |verified_list| %>
      <tr>
        <td><%= verified_list.verification_list %></td>
        <td><%= verified_list.employee %></td>
        <td><%= verified_list.date_of_verification %></td>
        <td><%= link_to 'Show', verified_list %></td>
        <td><%= link_to 'Edit', edit_verified_list_path(verified_list) %></td>
        <td><%= link_to 'Destroy', verified_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verified list', new_verified_list_path %>
